#container {
    footer {
        background: $bgOne;
        text-align: center;
        border: $borde;
        border-bottom: 5px solid $colorPrimary;

        #p1 {
            @extend %p1;
            padding-top: 47px;
        }

        img {
            padding-top: 24px;
            margin-left: 19px;
        }

        #p2 {
            @extend %p2;
            padding: 47.8px 0 23px;
        }

        &.dark {
            background: $bgDark;
            border-bottom: 5px solid $colorBlack;

            #p1 {
                color: $bgOne;
            }

            #p2 {
                color: $bgOne;
            }
        }
    }
}