#container {
    header {
        width: 100%;
        height: 95px;
        position: fixed;
        top: 0;
        background: $bgOne;
        border-top: 5px solid $colorPrimary;
    
        nav {
            display: flex;
            flex-direction: column;
    
            .logo {
                width: 100%;
                padding: 1em;
    
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
    
                .burger {
                    width: 15px;
                    height: 15px;
                    background: url('../assets/icons/burger.svg') no-repeat;
                }
    
                .burgerAct {
                    background: url('../assets/icons/close.svg') no-repeat;
                }
    
                &.dark {
                    #logoPpal {
                        content: url('../assets/icons/logo-mobile-modo-noct.svg');
                    }
    
                    .burger {
                        background: url('../assets/icons/burger-modo-noct.svg') no-repeat;
                    }
    
                    .burgerAct {
                        background: url('../assets/icons/close-modo-noct.svg') no-repeat;
                    }
                }
            }
    
            .off {
                display: none;
            }
    
            .menu {
                width: 100%;
                height: 500px;
                @extend %menu;
    
                ul {
                    width: 100%;
                    text-decoration: none;
    
                    list-style: none;
                    text-align: center;
                    background: rgba($colorPrimary, 0.9);
    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    li {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
    
                        &:first-child {
                            padding-top: 17px;
                        }
    
                        &:last-child {
                            padding-bottom: 800px;
                        }
    
                        a {
                            @extend %a;
                        }
    
                        span {
                            width: 41px;
                            border: 1px solid $bgOne;
                            opacity: 0.5;
                        }
                    }
    
                    img {
                        display: none;
                    }
    
                    &.dark {
                        background: $colorBlack;
                    }
                }
            }
        }
    
        &.dark {
            background: $bgDark;
            border-top: 5px solid $colorBlack;
        }
    }
}
