#container {
    main {
        //margin: auto;
        text-align: center;
        //height: 430px;
    
        #inspirate {
            background: $bgOne;
            //border: $borde;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h1 {
                //width: 100%;
                @extend %h1;
                margin-top: 7px;
                //border: $borde;
                //text-align: center;
                //padding: 0.6% 11.7% 0 12%;
        
                span {
                    color: $colorSecundary;
                }
            }
        
            .ilustra {
                width: 72.8%;
                height: 10.8%;
                margin-top: 31px;
                //border: $borde;
            }

            .search {
                width: 89.1%;
                height: 50px;
                border-radius: 27px;
                border: 1px solid $colorPrimary;

                display: flex;
                justify-content: space-between;
                align-items: center;

                input {
                    @extend %input;
                    margin-left: 55px;
                    //border: $borde;
                }

                a {
                    width: 20px;
                    height: 20px;

                    margin-right: 20px;
                    //border: $borde;

                    .LogoSearch {
                        width: 5.3%;
                        height: 1.7%;
                    }
                }
            } 

            h3 {
                @extend %h3;
                margin-top: 31px;
                //padding: 2.6% 18.4% 0 18.7%;
            }

            p {
                @extend %reactions;
                margin: 2px 75px 45px;
                //padding: 0.2% 24% 0 24%;
                //border: $borde;
            }

            &.dark {
                background: $bgDark;

                h1 {
                    color: $bgOne;
                }

                .search {
                    border-color: $bgOne;

                    input {
                        background-color: $bgDark;
                    }
                }

                h3 {
                    color: $bgOne;
                }
            }
        }
    
        #trending {
            height: 430px;
            background: $bgTwo;
            //border: $borde;
    
            h2 {
                @extend %h2;
                padding-top: 46px;
            }
    
            h4 {
                @extend %h4;
                margin-top: 7px;
            }

            .content {
                //margin: auto;
                //height: 300px;
                //border: $borde;

                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                /* .anterior {
                    display: none;
                } */

                .lista {
                    .glider-track {
                        //width: 243px;
                        height: 300px;
                        border: $borde;

                        .gif {
                            width: 243px;
                            height: 300px;
                            position: relative;
                            //border: $borde;
                            margin: 32px 11px 82px;
                        
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            .over {
                                width: 0;
                                height: 0;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                background: rgba($colorPrimary, 0.7);
                                
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;;

                                .buttonGif {
                                    display: none;
                                    margin: 10px 10px 0 0;
                                    //border: 1px solid;
            
                                    .icon {
                                        width: 32px;
                                        height: 32px;
                                        background: $bgOne;
                                        border-radius: 6px;
                                        opacity: 0.7;
                                        padding: 7px;

                                        &:hover {
                                            opacity: 1;
                                        }
                                    }

                                    #fav {
                                        &:hover {
                                            opacity: 1;
                                            //content: url(./assets/icons/icon-fav-active.svg);
                                        }
                                    }
                                }
            
                                .infoGif {
                                    display: none;
                                    margin: 0 0 30px 13px;
                                    //border: $borde;
            
                                    #user {
                                        @extend %p1;
                                        color: $bgOne;
                                        text-align: left;
                                    }
            
                                    #title {
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: bold;
                                        color: $bgOne;
                                        font-size: 16px;
                                        line-height: 19px;
                                        text-align: left;
                                        margin-top: 5px;
                                    }
                                }
                            }

                            &:hover {
                                .over {
                                    width: 100%;
                                    height: 100%;
                                    cursor: pointer;
                                }

                                .buttonGif {
                                    display: block;
                                    align-self: flex-end;
                                }

                                .infoGif {
                                    display: block;
                                    //align-self: flex-start;
                                    justify-self: self-end;
                                    bottom: 0;
                                }
                            }
                        }
                    }    
               }

               /* .siguiente {
                   display: none;
               } */
            }

            &.dark {
                background: $bgDarkTwo;

                h2 {
                    color: $bgOne;
                }

                h4 {
                    color: $bgOne;
                }
            }
        }
    }
}
