#container {
    main {
        text-align: center;
    
        #inspirate {
            background: $bgOne;
            //border: $borde;
            display: flex;
            flex-direction: column;
            align-items: center;

            &.crearGifos {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            &.dark {
                background: $bgDark;
                //flex-direction: column;

                h1 {
                    color: $bgOne;
                }

                .search {
                    border-color: $bgOne;

                    input {
                        background-color: $bgDark;
                    }
                }

                h3 {
                    color: $bgOne;
                }

                p {
                    color: $bgOne;
                }

                #group-results {
                    #span {
                        color: $bgOne;
                    }

                    #title {
                        color: $bgOne;
                    }

                    #see {
                        background: $bgDark;
                        color: $bgOne;
                        border-color: $bgOne;

                        &:hover {
                            background: $bgOne;
                            color: $colorBlack;
                        }
                    }
                }
            }

            .iconFav {
                display: none;
            }

            .iconSinFav {
                display: block;
            }
    
            h1 {
                //width: 100%;
                @extend %h1;
                margin-top: 7px;
                //border: $borde;
                //text-align: center;
                //padding: 0.6% 11.7% 0 12%;
        
                span {
                    color: $colorSecundary;
                }
            }
        
            .ilustra {
                width: 72.8%;
                height: 10.8%;
                margin-top: 31px;
                //border: $borde;
            }

            .search {
                width: 89.1%;
                height: 50px;
                border-radius: 27px;
                border: 1px solid $colorPrimary;

                display: flex;
                justify-content: space-between;
                align-items: center;

                input {
                    @extend %input;
                    margin-left: 55px;
                    //border: $borde;

                    &.dark {
                        color: $bgOne;
                    }
                }

                a {
                    width: 20px;
                    height: 20px;

                    margin-right: 20px;
                    //border: $borde;

                    .LogoSearch {
                        width: 5.3%;
                        height: 1.7%;
                    }
                }
            } 

            h3 {
                @extend %h3;
                margin-top: 31px;
                //padding: 2.6% 18.4% 0 18.7%;
            }

            p {
                @extend %reactions;
                margin: 2px 75px 45px;
                //padding: 0.2% 24% 0 24%;
                //border: $borde;
            }
            
            #span {
                    width: 157px;
                    border: 1px solid $colorActive;
                    opacity: 0.5;
                    margin: auto;

                    display: none;
            }
                
            #title {
                    display: none;
                    margin: 43px 0 38px;
                    @extend %h2;
                    line-height: 40px;
            }

            .not {
                    //border: solid;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;

                    .notResults {
                        margin: 17px 0 19px;
                        //margin-bottom: 29px;
                    }

                    #notResults {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 16px;
                        color: $colorSecundary;
                        text-align: center;
                        line-height: 18px;
                        margin-top: 19px;
                        margin-bottom: 62px;
                    }
            }

            .results {
                    height: fit-content;
                    //border: $borde;
                    //margin: 36px 21px;
                    //position: relative;

                    display: grid;
                    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
                    gap: 21px 21px;

                        .gif {
                            width: 156px;
                            height: 120px;
                            position: relative;
                            //border: solid;

                            .over {
                                display: none;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                left: 0;
                                bottom: 0;

                                .buttonGif {
                                    display: none;
                                }
                    
                                .infoGif {
                                    display: none;
                                }
                            }
                        }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
            }

            #see {
                    display: none;
                    border: 1px solid $colorPrimary;
                    border-radius: 25px;
                    background: $bgOne;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 13px;
                    line-height: 16px;
                    letter-spacing: 0;
                    color: $colorPrimary;
                    text-align: center;
                    margin: 78px auto 79px;
                    padding: 16px 32px;

                    &:hover {
                        background: $colorPrimary;
                        color: $bgOne;
                    }
            }
            

            // Favoritos //

            #conFav {
                width: 80%;
                height: 500px;
                //border: solid;
            }

            // Mis GIFOS //

            #logoMis {
                margin-top: 10px;
                width: 24px;
                height: 22px;

                &.dark {
                    border: solid;
                }
            }

            #titleMis {
                font-family: 'Montserrat', sans-serif;
                font-size: 25px;
                color: $colorPrimary;
                text-align: center;
                line-height: 30px;
                margin-top: 8px;
            }

            #logoSin {
                width: 150px;
                height: 150px;
                margin-top: 111px;
            }

            #titleAni {
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                color: $colorSecundary;
                text-align: center;
                line-height: 20px;

                margin: 40px 0 136px;
            }

            #contPpal {
                width: 100%;
                //height: 100px;
                border: solid;

                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            #contOne {
                border: solid;
                //width: 20%;
                //height: 390px;

                //display: flex;
                //align-content: center;

                /* img {
                    border: solid;
                } */
            }

            #contTwo {
                //border: solid;
                //width: 60%;
                height: 100%;

                #grabar {
                    width: 688px;
                    height: 390px;
                    border: 1px solid $colorPrimary;
                }
            }

            #contThree {
                border: solid;
                //width: 20%;
                //height: 100%;

                display: flex;
                align-self: flex-end;

               /*  #logoCam {
                    align-self: end;
                } */
            }

            // crear GIFOS //

            #camara{
                display: flex;
                //border: solid;

                margin-bottom: 145px;

                #logoCam {
                    &.dark {
                        content: url('../assets/icons/camara-modo-noc.svg');
                    }
                }
            }

            #containerMisGifos1{
                display: flex;
                flex-direction: column;
                align-items: center;
                //border: solid;

                #pantalla{
                    width: 688px;
                    height: 390px;
                    border: 1px solid $colorPrimary;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .corner {
                        width: 27px;
                        height: 25px;
                    }

                    #esquinasSup {
                        display: flex;
                        justify-content: space-between;

                        #supIzq {
                            border-top: 2px solid $colorSecundary;
                            border-left: 2px solid $colorSecundary;
                            margin-top: 20px;
                            margin-left: 20px;
                        }

                        #supDer {
                            border-top: 2px solid $colorSecundary;
                            border-right: 2px solid $colorSecundary;
                            margin-top: 20px;
                            margin-right: 20px;
                        }
                    }

                    #string {
                        //border: solid;
                        h4 {
                            color: $colorPrimary;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 25px;
                            line-height: 35px;
                            text-align: center;
                            margin-top: 65px;
                        }
                    
                        #Gifos {
                            color: $colorSecundary;
                        }
                    
                        p {
                            font-size: 16px;
                            line-height: 29px;
                            font-family: 'Roboto', sans-serif;
                            text-align: center;
                            color: $colorBlack;
                        } 
                    }

                    #esquinasInf {
                        display: flex;
                        justify-content: space-between;

                        #infIzq {
                            border-bottom: 2px solid $colorSecundary;
                            border-left: 2px solid $colorSecundary;
                            margin-bottom: 20px;
                            margin-left: 20px;
                        }
                    
                        #infDer {
                            border-bottom: 2px solid $colorSecundary;
                            border-right: 2px solid $colorSecundary;
                            margin-bottom: 20px;
                            margin-right: 20px;
                        }
                    }
                }

                #numeros {
                    display: inline-flex;

                    .num {
                        margin: auto;
                        display: block;
                        margin: 24px 26px 19px;
                    }

                    
                }

                #linea{
                    width: 790px;
                    border-bottom: 5px solid $colorPrimary;
                    border-radius: 20px;
                    //margin-left: 155px;
                }

                button{
                    font-size: 13px;
                    line-height: 16px;
                    color: $colorPrimary;
                    border: 1px solid $colorPrimary;
                    border-radius: 25px;
                    background: $bgOne;
                    //display: block;
                    margin-top: 20px;
                    margin-bottom: 26px;
                    padding: 16px 22px;
                }
            }

            #cinta {
                //border: solid;
                margin-top: 300px;

                &.dark {
                    content: url('../assets/icons/pelicula-modo-noc.svg');
                }
            }
        }
    
        #trending {
            //height: 430px;
            background: $bgTwo;
            overflow: hidden;
            //border: $borde;
    
            h2 {
                @extend %h2;
                padding-top: 46px;
            }
    
            h4 {
                @extend %h4;
                margin-top: 7px;
            }

            .content {
                //margin: auto;
                //height: 300px;
                //border: $borde;
                //max-width: 1440px;
                padding: 0 8px;
                //position: relative;
                overflow: hidden;

                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                #prev, #next {
                    display: none;
                }

                #galery {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    //border: solid;

                    .gif {
                        width: 243px;
                        height: 187px;
                        position: relative;
                        //border: solid;
                        margin: 32px 11px 82px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .over {
                            display: none;
                        }
                    }
                }  
            }

            &.dark {
                background: $bgDarkTwo;

                h2 {
                    color: $bgOne;
                }

                h4 {
                    color: $bgOne;
                }
            }
        }

        .fullOver {
            position: fixed;
            background: rgba(255,255,255,0.90);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 29px;

            //display: none;
            display: flex;
            flex-direction: column;

            .close {
                width: 24px;
                height: 24px;
                background: url('../assets/icons/close.svg') no-repeat;
                align-self: flex-end;
                margin-top: 64px;
            }

            .img-full {
                width: 318px;
                height: 245px;
                margin-top: 78px;
            }

            .base {
                margin-top: 14px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                #string {
                    #pOne {
                        font-family: 'Roboto', sans-serif;
                        font-size: 15px;
                        line-height: 18px;
                        color: #000000;
                        text-align: left;
                    }

                    #pTwo {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 16px;
                        line-height: 19px;
                        color: #000000;
                        text-align: left;
                        margin-top: 6px;
                    }
                }

                #options {
                    display: flex;
                    flex-flow: row wrap;

                    .icon-full {
                        width: 36px;
                        height: 36px;
                        margin-left: 29px;
                        opacity: 0.5;
                        //border: 1px solid $colorSecundary;
                        //border-radius: 6px;
                        //padding: 6px;
                        cursor: pointer;
                    }

                    .no-fav {
                        background: url('../assets/icons/icon-favoritos.svg') no-repeat;
                        background-size: contain;
                    }

                    .favorito {
                        background: url('../assets/icons/icon-fav-active.svg') no-repeat;
                        background-size: contain;
                    }

                    #down {
                        background: url('../assets/icons/icon-download.svg') no-repeat;
                        background-size: contain;
                    }
                    
                }
            }
        }
    }
}
