@media screen and (min-width: 768px) {
    #container {
        max-width: 1440px;

        header {
            //height: 90px;

            nav {
                flex-direction: row;

                .logo {
                    width: 50%;
                    padding-left: 10.8%;
                    //background: blue;
                    //border: solid;

                    #logoPpal {
                        content: url('../assets/icons/logo-desktop.svg');
                    }

                    #burger {
                        display: none;
                    }
                }

                #menu {
                    width: 100%;
                    height: 90px;
                    //background: yellow;
                    //border: solid;

                    display: flex;

                    ul {
                        width: 50%;
                        text-decoration: none;
                        margin: auto;
                        //border: solid;
                        
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
    
                        li {
                            list-style: none;
                            text-align: center;
    
                            display: flex;
                            flex-direction: row;
                            align-items: center;
    
                            a {
                                color: $colorPrimary;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: bold;
                                font-size: 13px;
                                line-height: 16px;
                                letter-spacing: 0;
                                text-align: center;
                                text-decoration: none;
                            }
                        }

                        img {
                            border: 1px solid $colorPrimary;
                            border-radius: 50%;
                            padding: 20px;

                            &:hover {
                                background: $colorPrimary;
                                //filter: invert(4.4) hue-rotate(1deg) saturate(1%);
                                cursor: pointer;
                            }
                        }
                    }
    
                    &.dark {
                        li {
                            background: $bgDark;

                            a {
                                color: $bgOne;
                            }
                        }

                        img:hover {
                            background: $bgOne;
                        }
                    }
                }
            }
        }

        main {
            #inspirate {
                h1 {
                    width: 40%;
                    //border: $borde;
                    font-size: 35px;
                    line-height: 50px;
                    margin-top: 76px;
                }

                .ilustra {
                    width: 399px;
                    height: 190px;
                    margin-top: 24px;
                }

                .search {
                    width: 551px;
                    height: 50px;

                    input {
                        margin-left: 54px;
                        //border: $borde;
                    }

                    a {
                        margin-right: 20px;
                        //border: $borde;
                    }
                }

                h3 {
                    margin-top: 73px;
                    font-size: 18px;
                }

                p {
                    font-size: 16px;
                    margin-top: 7px;
                    margin-bottom: 95px;
                }
            }

            #trending {
                height: 640px;

                h2 {
                    padding-top: 67px;
                }

                h4 {
                    font-size: 18px;
                    line-height: 21px;
                    margin-top: 12px;
                }

                .content {
                    width: 90%;
                    margin: auto;
                    justify-content: space-around;
                    overflow: hidden;

                    .gif {
                        width: 357px;
                        height: 275px;
                        border: $borde;
                        margin: 53px 157px 182px;
                        
    
                        img {
                            width: 357px;
                            height: 275px;
                        }
                    }
                }
            }
        }

        footer {
            height: 116px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .redes {
                width: 50%;
                //height: 100%;
                //padding: 50px;

                //border: $borde;
                display: flex;
                flex-direction: row;
                justify-content: center;
                //align-items: center;
                align-items: center;

                #p1 {
                    padding-top: unset;
                    font-size: 13px;
                    line-height: 15px;
                }

                img {
                    padding-top: unset;
                    padding-left: 19px;
                    //width: 20px;
                }
            }

            #p2 {
                font-size: 13px;
                line-height: 15px;
                margin-right: 158px;
            }
        }
    }
}