$bgOne:#FFF;
$bgTwo: #F3F5F8;
$bgDark: #37383C;
$bgDarkTwo: #222326;
$colorPrimary: #572ee5;
$colorSecundary:  #50E3C2;
$colorBlack: #000;
$borde: 1px solid;

%menu {
    color: $bgOne;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 60px;
}

%h1 {
    color: $colorPrimary;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

%input {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

%h2 {
    color: $colorPrimary;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

%h3 {
    color: $colorPrimary;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

%reactions {
    color: $colorPrimary;
    font-family: 'Montserrat-medium', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 25px;
    text-align: center;
}

%h4 {
    color: $colorBlack;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
}

%p1 {
    color: $colorBlack;
    font-size: 15px;
    letter-spacing: 0;
}

%p2 {
    color: $colorBlack;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}

%a {
    color: $bgOne;
    font-size: 20px;
    line-height: 60px;
    //text-align: center;
    text-decoration: none;
}