* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container main #inspirate h1 {
  color: #572EE5;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

#container main #trending h2 {
  color: #572EE5;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

#container main #inspirate h3 {
  color: #572EE5;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

#container main #trending h4 {
  color: #000;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}

#container footer #p1 {
  color: #000;
  font-size: 15px;
  letter-spacing: 0;
}

#container footer #p2 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

#container header {
  height: 95px;
  background: #FFF;
  padding: 2.8% 6.9% 1.6% 5.9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* &.dark {
            background: $bgDark;
        } */
}

#container main {
  text-align: center;
}

#container main #inspirate {
  background: #FFF;
  /* .over {
                //width: 100%;
                position: absolute;
                border: $borde;
                margin-left: 20px; */
  /* img {
                    z-index: 2;
                }
            } */
  /* &.dark {
                background: $bgDark;

                h1 {
                    color: $bgOne;
                }

                h3 {
                    color: $bgOne;
                }
            } */
}

#container main #inspirate h1 {
  padding: 2px 11.7% 0;
}

#container main #inspirate h1 span {
  color: #50E3C2;
}

#container main #inspirate img {
  width: 72.8%;
  height: 10.8%;
  padding-top: 27px;
}

#container main #inspirate input {
  width: 89.1%;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 27px;
  text-align: left;
  margin-top: -3px;
}

#container main #inspirate h3 {
  padding: 30px 69px 48px 70px;
}

#container main #trending {
  background: #F3F5F8;
  /* &.dark {
                background: $bgDarkTwo;

                h2 {
                    color: $bgOne;
                }

                h4 {
                    color: $bgOne;
                }
            } */
}

#container main #trending h2 {
  padding-top: 44px;
}

#container main #trending h4 {
  padding-top: 9px;
}

#container main #trending img {
  width: 64.8%;
  height: 15.6%;
  margin: 32px 22px 82px 22px;
}

#container footer {
  background: #FFF;
  text-align: center;
  /* &.dark {
            background: $bgDark;

            #p1 {
                color: $bgOne;
            }

            #p2 {
                color: $bgOne;
            }
        } */
}

#container footer #p1 {
  padding-top: 47px;
}

#container footer img {
  padding-top: 24px;
  margin-left: 19px;
}

#container footer #p2 {
  padding: 47.8px 0 23px;
}

@media screen and (max-width: 700px) {
  #container {
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  #container {
    width: 100%;
  }
}

#container {
  min-width: 375px;
  width: 100%;
  border-top: 5px solid #572EE5;
  border-bottom: 5px solid #572EE5;
}
/*# sourceMappingURL=style.css.map */