* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container main #inspirate h1 {
  color: #572EE5;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

#container main #trending h2 {
  color: #572EE5;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

#container main #inspirate h3 {
  color: #572EE5;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

#container main #trending h4 {
  color: #000;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}

#container footer #p1 {
  color: #000;
  font-size: 15px;
  letter-spacing: 0;
}

#container footer #p2 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

#container header nav .menu ul li a {
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

#container header {
  width: 100%;
  height: 95px;
  position: fixed;
  top: 0;
  background: #FFF;
  border-top: 5px solid #572EE5;
  /* &.dark {
            background: $bgDark;
        } */
}

#container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container header nav .logo {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container header nav .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container header nav .menu ul {
  width: 100%;
  text-decoration: none;
}

#container header nav .menu ul li {
  width: 100%;
  list-style: none;
  text-align: center;
  background: #572EE5;
  opacity: 90%;
}

#container main {
  text-align: center;
}

#container main #inspirate {
  background: #FFF;
  /* .over {
                //width: 100%;
                position: absolute;
                border: $borde;
                margin-left: 20px; */
  /* img {
                    z-index: 2;
                }
            } */
  /* &.dark {
                background: $bgDark;

                h1 {
                    color: $bgOne;
                }

                h3 {
                    color: $bgOne;
                }
            } */
}

#container main #inspirate h1 {
  padding: 2px 11.7% 0;
}

#container main #inspirate h1 span {
  color: #50E3C2;
}

#container main #inspirate img {
  width: 72.8%;
  height: 10.8%;
  padding-top: 27px;
}

#container main #inspirate input {
  width: 89.1%;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 27px;
  text-align: left;
  margin-top: -3px;
}

#container main #inspirate h3 {
  padding: 30px 69px 48px 70px;
}

#container main #trending {
  background: #F3F5F8;
  /* &.dark {
                background: $bgDarkTwo;

                h2 {
                    color: $bgOne;
                }

                h4 {
                    color: $bgOne;
                }
            } */
}

#container main #trending h2 {
  padding-top: 44px;
}

#container main #trending h4 {
  padding-top: 9px;
}

#container main #trending img {
  width: 64.8%;
  height: 15.6%;
  margin: 32px 22px 82px 22px;
}

#container footer {
  background: #FFF;
  text-align: center;
  /* &.dark {
            background: $bgDark;

            #p1 {
                color: $bgOne;
            }

            #p2 {
                color: $bgOne;
            }
        } */
}

#container footer #p1 {
  padding-top: 47px;
}

#container footer img {
  padding-top: 24px;
  margin-left: 19px;
}

#container footer #p2 {
  padding: 47.8px 0 23px;
}

@media screen and (min-width: 720px) {
  #container header {
    height: 93px;
    background: yellow;
    border: 1px solid;
  }
  #container header nav {
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #container header nav .logo {
    padding: 0;
  }
  #container header nav .logo .boton {
    display: none;
  }
  #container header nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #container header nav .menu ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #container header nav .menu ul li {
    width: unset;
    background: unset;
    text-align: unset;
  }
  #container header nav .menu ul li a {
    color: #572EE5;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 900px) {
  #container {
    max-width: 1440px;
  }
  #container header {
    background: black;
  }
}

#container {
  min-width: 375px;
  width: 100%;
  border-bottom: 5px solid #572EE5;
  padding-top: 95px;
}
/*# sourceMappingURL=style.css.map */